.header1 {
  background-color: rgb(255, 219, 140);
  color: #f56969;
}
* {
  font-size: 1em;
}
.title{
  background: url(./fangimg/0877871_PE611235_S4.jpg)center no-repeat;
  background-size: cover;
  height: 600px;
  border: solid 3px pink;
}
.red-text,
.red {
    color: pink;
}
.blue .blue-text{
    color:blue;
}
.green.green-text{
    color: lawngreen;
}
.yellow{
  color: yellow;
}
#pink{
  color: palevioletred;
}
.rainbow{
background-color: linear-gradient(to right, antiquewhite,palevioletred,antiquewhite);
} /* 彩虹色塊 */
.botton1{
  display: inline-block;
  background-color: yellowgreen; /*按鈕顏色*/
  color:aliceblue;
  text-align: center;
  padding: 10px 10px;
  margin: 6px;
  border-radius: 50%;
  font-weight: bold;
  width: 65px;
  height: 65px;
  /* border: solid 10px rgb(132, 190, 14); */
  line-height: 65px;
  /* box-shadow: 2px 1px 2px 1px lightgrey; */
}
.botton2{
  display: inline-block;
  background-color: #f56969;
  color: aliceblue;
  text-align: center;
  padding: 10px 10px;
  margin: 6px;
  border-radius: 50%;
  font-weight: bold;
  width: 65px;
  height: 65px;
  /* box-shadow: 1px 1px 1px 1px lightgrey; */
  /* border: solid 10px #c83232; */
  line-height: 65px;
}
.botton1:hover{
background-color: rgb(132, 190, 14);
}
.botton1:active{
  box-shadow:2px 2px 2px 2px lightslategray;
}
.botton2:hover{
  background-color: #c83232;
}
.botton2:active{
  box-shadow:2px 2px 2px 2px lightslategray;
}
.circle{
  background: wheat;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  line-height: 100px;
  border: #f56969 solid 2px;
  text-align: center;
}
.message{
  font-size: 2em;
  padding: 3px 8px;
  background-color: darksalmon;
  border:palevioletred solid 1px;
  border-radius: 10px;
  color: aliceblue;
  display: inline-block;
  position: fixed;
  top: 10px;
  right: 10px;
  transition: all 0.5s ease-in-out;
}
.message:after{
  content: attr(data-count);
  text-align: center;
  position: absolute;
  top: -8px;
  bottom: -3px;
  right: -7px;
  font-size: 0.5em;
  color: crimson;
  border: wheat solid;
  background-color: antiquewhite;
  border-radius: 50px;
  height: 25px;
  width: 25px;
  line-height: 25px;
}
.message:hover{
  padding: 5px 12px;
}
.message.move{
  right: 50%;
  opacity: 0;
  transform: translateX(50%);
}
.box{
  width: 100px;
  height: 100px;
  background-color: antiquewhite;
  position: relative;
}
.box-center{
  display: inline-block;
  background-color: #f56969;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 0.5em;
}
.square{
  font-size: 1.5em;
  padding: 3px 13px;
  background-color: darksalmon;
  border:palevioletred solid 1px;
  border-radius: 20px;
  color: aliceblue;
  display: inline-block;
}
.triangle{
  width: 0px;
  height: 0px;
  border: darksalmon solid 24px;
  border-top: transparent solid 24px;
  border-left: transparent solid 24px;
  border-right: transparent;
  transform: rotate(180deg);
  position: relative;
  top: -2px;
  left: 11px;
  
}